In [1]:
# import dependencies
import pandas as pd

In [2]:
#load and read the budget.csv file
election_csv='C:\Users\Owner\Desktop\SMU_Assignments\Unit_03_Python\Instructions\PyPoll\Resources\election_data.csv'
print(election_csv)

C:\Users\Owner\Desktop\SMU_HWs\Unit_03_Python\Instructions\PyPoll\Resources\election_data.csv

In [3]:
#Read csv to dataframe
election_df=pd.read_csv(election_csv,encoding="ISO-8859-1")
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [4]:
#The total number of votes cast
vote_count=election_df["Voter ID"].count()
vote_count

3521001

In [5]:
#A complete list of candidates who received votes
print("The total number of votes each candidate won\n",election_df["Candidate"].value_counts())

The total number of votes each candidate won
 Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [6]:
#The percentage of votes each candidate won
#print(election_df["Candidate"].value_counts()/vote_count)
print("The percentage of votes each candidate won \n", election_df["Candidate"].value_counts()/vote_count * 100)

The percentage of votes each candidate won
 Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [7]:
print("The total number of votes each candidate won\n",election_df["Candidate"].value_counts())

The total number of votes each candidate won
 Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64